{% load cart_tags %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'shop_app:home' %}">E-commerce Project</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'order_app:cart' %}">
              Cart<span class="badge badge-light">{{request.user|cart_total}}</span>
            </a>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">{{request.user.profile.username}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a href="{% url 'login_app:profile' %}" class="dropdown-item">Profile</a>
              <a href="#" class="dropdown-item">Orders</a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'login_app:logout' %}" class="dropdown-item">Logout</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item"><a class="btn btn-primary" href="{% url 'login_app:login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
